html, body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
}

h2{
    
    text-align: center;
    
}

section{
    display: inline-block;
    font-weight: bolder;
    font-size: 20px;

}

.un{
    background-color: rgb(55, 75, 83);
    width: 450px;
    height: 250px;
    text-align: center;
    vertical-align: center;
    border: 1px dotted black;
}

.deux{
    background-color: rgb(25, 167, 223);
    width: 600px;
    height: 250px;
    text-align: center;
    border: 1px dotted black;

}

.trois{
    background-color: rgb(55, 75, 83);
    border: 1px dotted black;
    width: 300px;
    height: 250px;
}

.quatre{
    background-color: rgb(55, 75, 83);
    width: 300px;
    height: 250px;
    border: 1px dotted black;
    margin: 0;padding: 0;
    float: right;
}

.cinq{
    background-color: rgb(55, 75, 83);
    width: 200px;
    height: 130px;
    border: 1px dotted black;
}

.six{
    background-color: rgb(55, 75, 83);
    width: 450px;
    height: 130px;
    border: 1px dotted black;
}

.sept{
    margin: 0;padding: 0;
    background-color: rgb(25, 167, 223);
    width: 50px;
    height: 250px;
    float: top;
    border: 1px dotted black;
}

footer{
    background-color: rgb(25, 167, 223);
    width: 250px;
    height: 55px;
    font-weight: bold;
    text-align: center;
    margin-left: 500px;
}