h1{
    text-align: center;
    font-weight: bold;
}

.page{
    background-color: white;
    width: 75%;
    border: 1px solid black; 
    margin: auto;
    padding: 15px 15px 15px 15px;
}


.contenair {
    display: grid;
    border: 1px solid grey;
  
}

.img1{


    float: right;
}

.img2{
    float: left;
}

.img3{
    float: left;
}

.text{
    
    text-align: justify;

}

.text2 {
    text-align: justify;

}

p{
    text-align: justify;
}

.text3{
    text-align: justify;
}

html{
    background-color: lightsteelblue;
}

body{
    

}

nav{
   font-weight: bold;
    background-color: grey;
    color: white;
    padding: 10px 10px 10px 10px;
    text-align: right;
    word-spacing: 15px;
}

.cadre1{
    border: 1px solid grey;
    padding: 15px 15px 15px 15px;
}

.cadre2{
    border: 1px solid grey;
    padding: 15px 15px 15px 15px;
}

.cadre3{
    border: 1px solid grey;
    padding: 15px 15px 15px 15px;
}

