section{
    padding: 25px 25px 25px 25px;
    background-color: rgb(23, 24, 24);
    width: 150px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.rouge{
    background-color: rgb(179, 6, 6);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.orange{
    background-color: rgb(196, 168, 11);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}


.vert{
    background-color: rgb(6, 88, 6);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.vert:hover{
    background-color: rgb(21, 243, 21);

}

.orange:hover{
    background-color: yellow;

}

.rouge:hover{
    background-color: rgb(247, 46, 31);

}




